*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
  background: linear-gradient(180deg, #1b0b2e, #12061f);
  padding: 18px 0;
  position: relative;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.logo-accent {
  background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.nav-menu ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-menu a {
  color: #cfc6e2;
  text-decoration: none;
  font-size: 15px;
}

.nav-menu a:hover {
  color: #ffffff;
}

.btn-gradient {
  padding: 10px 22px;
  border-radius: 30px;
  background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 22px;
  height: 2px;
  background: #ffffff;
}

#nav-toggle {
  display: none;
}

@media (max-width: 576px) {

  .hamburger {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #12061f;
    display: none;
  }

  .nav-menu ul {
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
    align-items: center;
  }

  .nav-btn {
    display: none;
  }
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: silver;
}


.banner {
  padding: 100px 20px;
  text-align: center;
}

.banner {
  background:
    url("./assets/hero-bg.png") center center / cover no-repeat,
    radial-gradient(
      circle at center,
      #2a0e46 0%,
      #1b0b2e 45%,
      #12061f 100%
    );
}

.podcast-circle {
  width: 220px;
  height: 220px;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  position: relative;
}

.mic-icon {
  transform: translateY(15px);
}
.badge-new {
  position: absolute;
  top: 10px;
  right: -10px;
  background: #19ff9b;
  color: #000;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.banner-title {
  font-size: 42px;
  margin-top: 30px;
  color: #ffffff;
}

.banner-text {
  max-width: 500px;
  margin: 16px auto 30px;
  color: #cfc6e2;
  font-size: 15px;
}

.banner-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn-outline {
  padding: 10px 22px;
  border-radius: 30px;
  border: 1px solid #19ff9b;
  color: #19ff9b;
  text-decoration: none;
  font-size: 14px;
}

@media (max-width: 576px) {
  .banner-title {
    font-size: 30px;
  }

  .banner-buttons {
    flex-direction: column;
  }
}

.about {
  padding: 80px 20px;
  background-color: #1b0b2e;
  text-align: center;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 12px;
  color: #ffffff;
}

.about-text {
  font-size: 14px;
  color: #cfc6e2;
  max-width: 600px;
  margin: 0 auto 40px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.stat-box {
  background-color: #2a0e46;
  padding: 20px;
  border-radius: 12px;
  width: 220px;
}

.stat-box h3 {
  font-size: 30px;
  color: #19ff9b;
  margin-bottom: 6px;
}

.stat-box p {
  font-size: 13px;
  color: #cfc6e2;
}

@media (max-width: 576px) {
  .about {
    padding: 60px 15px;
  }

  .stat-box {
    width: 45%;
  }
}

.why {
  padding: 100px 40px;
  background-color: #1b0b2e;
}

.why-box {
  max-width: 1200px;
  margin: 0 auto;
}

.why-heading {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 60px;
  text-align: center;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.why-card {
  background-color: #2a0e46;
  padding: 30px;
  border-radius: 16px;
  text-align: left;
}

.icon-box {
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}

.icon-box img {
  width: 100%;
  display: block;
}

.why-card h3 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 8px;
}

.why-card p {
  font-size: 14px;
  color: #cfc6e2;
  line-height: 1.6;
}

.card-1 {
  grid-column: 2/4;
}

.card-2 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.card-3 {
  grid-column: 2/4;
}

.card-4 {
  grid-column: 1/3;
}

.card-5 {
  grid-column: 3/4;
}

@media (max-width: 576px) {
  .why {
    padding: 70px 20px;
  }

  .why-heading {
    text-align: center;
  }

  .why-grid {
    grid-template-columns: 1fr;
  }

  .why-card {
    grid-column: auto;
    grid-row: auto;
  }
}

.episodes {
  padding: 100px 40px;
  background-color: #160824;
}

.episodes-box {
  max-width: 1200px;
  margin: 0 auto;
}

.episodes-heading {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 60px;
  text-align: center;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.episode-card {
  background-color: #2a0e46;
  padding: 20px;
  border-radius: 16px;
  text-align: left;
}

.video-box {
  width: 100%;
  height: 180px;
  margin-bottom: 16px;
  border-radius: 12px;
  overflow: hidden;
}

.video-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.episode-card h3 {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}

.episode-card p {
  font-size: 14px;
  color: #b9b2d3;
  line-height: 1.6;
  margin-bottom: 14px;
}

.episode-time {
  display: flex;
  align-items: center;
  gap: 6px;
}

.clock-icon {
  width: 16px;
  height: 16px;
}

.duration {
  font-size: 13px;
  color: #19ff9b;
}

.episode-card p{
  width: 332px;
  height: 72px;
  opacity: 0.6;
}

@media (max-width: 576px) {
  .episodes {
    padding: 70px 20px;
  }

  .episodes-heading {
    text-align: center;
  }

  .episodes-grid {
    grid-template-columns: 1fr;
  }
}

.host {
  padding: 100px 40px;
  background-color: #160824;
  text-align: start;
}

.host-box {
  max-width: 1200px;
  margin: 0 auto;
}

.host-heading {
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 60px;
}

.host-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: #2a0e46;
  border-radius: 16px;

}

.host-img {
  width: 185px;
  height: 210px;
  border-radius: 50%;
  background-color: #2a0e46;
}

.host-content {
  max-width: 700px;
}

.host-name {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 12px;
}

.host-bio {
  font-size: 14px;
  color: #cfc6e2;
  line-height: 1.7;
  text-align: start;
}

.host-social {
  display: flex;
  gap: 10px;
}

.social-icon {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #2a0e46;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .host {
    padding: 60px 20px;
  }

  .host-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .host-content {
    max-width: 100%;
  }

  .host-bio {
    text-align: center;
  }

  .host-social {
    justify-content: center;
  }

  .host-img {
    width: 150px;
    height: 170px;
  }

  .host-name {
    font-size: 20px;
  }

  .host-heading {
    font-size: 28px;
    margin-bottom: 40px;
  }
}

.footer-container {
    padding: 60px 20px;
    background-color: #1b0b2e;
    text-align: center;
}

.footer-logo {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
}

.logo-accent {
    color: #ff3fd8;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin-bottom: 30px;
    padding: 0;
}

.footer-social li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

.footer-social li img {
    width: 24px;
    height: 24px;
}

hr {
    border: 0.5px solid #444;
    margin: 20px auto;
    width: 80%;
}

.footer-rights {
    font-size: 12px;
    color: #cfc6e2;
    margin-top: 20px;
}

.footer-container{
  background:
    url("./assets/footer-bg.png") center center / cover no-repeat,
    radial-gradient(
      circle at center,
      #2a0e46 0%,
      #1b0b2e 45%,
      #12061f 100%
    );
}

@media (max-width: 576px) {
    .footer-logo {
        font-size: 32px;
    }

    .footer-social {
        flex-direction: column;
        gap: 15px;
    }

    .footer-social li {
        font-size: 14px;
    }
}

.btn-gradient:hover {
  background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  color: #ffffff;
  border: none;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.footer-social li:hover {
  transform: scale(1.2);
  color: #f7e93f;
  transition: all 0.3s ease;
}

.footer-social li img {
  transition: all 0.3s ease;
}

.footer-social li:hover img {
  filter: brightness(1.2) saturate(1.5);
}

.host-social .social-icon:hover {
  transform: scale(1.2);
  background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  transition: all 0.3s ease;
}

.host-social .social-icon img {
  transition: all 0.3s ease;
}

.host-social .social-icon:hover img {
  filter: brightness(1.2) saturate(1.5);
}

.nav-menu a:hover {
  background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  transition: all 0.3s ease;
}

.stat-box {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(247, 233, 63, 0.4);
}

.why-card {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.why-card:hover {
  transform: scale(1.03);
  background-color: #3b1b63; 
}

.episode-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.episode-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(247, 233, 63, 0.2);
}



